fieldset {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.form {
    margin: 40px auto;
    border: 1px solid var(--gray4);
    border-radius: 0.5rem;
    padding: 1rem;
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.input-label {
    font-weight: 600;
}

.input-element {
    display: block;
    float: right;
    width: 70%;
    border: 1px solid var(--gray4);
    height: 24px;
}

.form-element {
    margin-bottom: 2rem;
}

.btn {
    width: 49%;
    padding: 0.75em 1em;
    border: 1px solid var(--green);
    border-radius: 5%;
    font-size: 1.1rem;
}

.btn-primary {
    background-color: var(--green);
    color: var(--white);
}

.btn-secondary {
    background-color: var(--white);
    border: 1px solid var(--green);
}

.btn-primary:hover {
    background-color: var(--orange);
    color: var(--black);
}

.btn-secondary:hover {
    border: 1px solid var(--orange);
}