.main {
  margin: 0 auto;
  width: 62vw;
  font-family: Helvetica, sans-serif;
}

.card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  width: 30vw;
  background-color: purple;
  color: #fefefe;
}

.card h1 {
  font-size: 2em;
}

.card .box {
  width: 100%;
  height: 20vh;
  background-color: #1a001a;
}

/*# sourceMappingURL=styles.css.map */

* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
}

form {
  width: 400px;
}

.flex-item,
.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
}