body {
  margin: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 1em;
}

.bodyHome {
  background-image: url('../pics/green/fern.jpeg');
}

.bodyProject {
  background-image: url('../pics/green/forsythia.jpeg');
}

.bodyExperience {
  background-image: url('../pics/green/hosta1.jpeg');
}

.bodyEducation {
  background-image: url('../pics/green/snapdragon.jpeg');
}

.bodyContact {
  background-image: url('../pics/green/mix.jpeg');
}

.darkGreen {}

.textLeft {
  text-align: left;
}

.pageName {
  text-align: center;

}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainBox {
  display: block;
  width: 85%;
  margin: 5 auto;
  padding: 20px;
  background-color: var(--greenDusky);
  border-style: solid;
  border-width: 0.1em;
  border-radius: 5px;
  border-color: var(--greenDark);
  border: 0.5rem solid var(--greenDark);
}

.mainContact {
  width: 534px;
}

.mainHome {
  padding: 20px 100px;
}

.introText::first-line {
  font-weight: bold;
}

.iconLink {
  color: var(--greenDark);
  margin: 12px;
}

.imgShadow {
  border: 1px solid #1E5631;
  box-shadow: 3px 4px 8px #1E5631;
}

#loading {
  width: 80px;
  height: 80px;
}

.figure {
  background-color: var(--greenPale);
  box-shadow: 3px 4px 8px #1E5631;
}

.arrivalFigure {
  background-color: var(--greenPale);
  box-shadow: 3px 4px 8px #1E5631;
  padding: 0 20px;
  width: 250px;
}

.headerLink:hover {
  color: var(--lightteal);

}

.showSection {
  border: 2px solid var(--greenDark);
  margin: 20px;
}

.transitMethod {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

#arrivalTime{
  margin-top: -25px;
}