#loading {
  width: 80px;
  height: 80px;
}

.figure {
  border: 0.5rem solid var(--greenDark);
  background-color: var(--greenPale);
}

.figure:hover {
  border: 0.5rem solid var(--greenDark);
  color: var(--lightteal);
}