fieldset {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.form {
    margin: 10px auto;
    padding: 1rem;
    width: 75%;
}

.title {
    text-align: center;
    padding-bottom: 20px;
}

.form-element {
    margin-bottom: 2rem;
}

.text-area {
    width: 100%
}

.input-label {
    font-weight: 600;
}

.input-element {
    display: block;
    float: right;
    width: 80%;
    border: 1px solid var(--gray4);
    height: 24px;
    margin-top: 5px;
}

.reason {
    resize: vertical;
}

.btn {
    width: 49%;
    padding: 0.75em 1em;
    border: 1px solid var(--green);
    border-radius: 5%;
    font-size: 1.1rem;
}

.btn-primary {
    background-color: var(--green);
    color: var(--white);
}

.btn-secondary {
    background-color: var(--greenCreamy);
    color: var(--greenDark);
    border: 3px solid var(--greenDark);
}

.btn-primary:hover {
    border: 3px solid var(--cyan);
    font-weight: bold;
}

.btn-secondary:hover {
    border: 3px solid var(--cyan);
    font-weight: bold;

}

@media only screen and (max-width: 720px) {
    .mainContact {
        width: 99%;
    }

    .form {
        margin: 10px auto;
        padding: 1rem;
        width: 99%;
    }
}