* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
  --greenDark: #1E5631;
  --greenBright: #A4DE02;
  --greenMedBright: #76BA1B;
  --greenGreen: #4C9A2A;
  --greenCreamy: #ACDF87;
  --greenDusky: #68BB59;
  --greenPale: #c8f0ab;
  --cream: #FeFeD3;
  --cyanLight: #3cb3c0;
  --cyanDark: #024064;
  --laurel: #37782c;
  --mantis: #64bb6a;
  --pistachio: #9fd983;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
}

form {
  width: 400px;
}

.flex-item,
.grid-item {
  padding: 10px;
  background-color: var(--purple);
  color: var(--white);
  font-size: 2.4em;
  text-align: center;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
}